---
http_interactions:
- request:
    method: post
    uri: https://api.eu.onfido.com/v3.1/applicants
    body:
      encoding: UTF-8
      string: first_name=Jane&last_name=Doe&middle_name=Smith&email=abc&dob=1990-01-31&phone_number=9121212323&location[country_of_residence]=GBR&consents[][name]=privacy_notices_read&consents[][granted]=true
    headers:
      Authorization:
      - Token token=api_sandbox.VfzFDCaYox9.rTHqR4jClR6-IHzdAQQUML5bd7PlNZ_Q
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 0b0cff41-b53b-4ade-8067-d6722b41fd83
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - A5KBgGk7joEFsEA=
      X-Amzn-Remapped-Date:
      - Sat, 25 Feb 2023 11:26:39 GMT
    body:
      encoding: UTF-8
      string: '{"error":{"type":"validation_error","message":"There was a validation
        error on this request","fields":{"email":["is invalid"]}}}'
  recorded_at: Sat, 25 Feb 2023 11:26:39 GMT
recorded_with: VCR 6.1.0
