---
http_interactions:
- request:
    method: post
    uri: https://api.eu.onfido.com/v3.1/applicants
    body:
      encoding: UTF-8
      string: first_name=Jane&last_name=Doe&middle_name=Smith&email=test%40example.com&dob=1990-01-31&phone_number=9121212323&location[country_of_residence]=GBR&consents[][name]=privacy_notices_read&consents[][granted]=true
    headers:
      Authorization:
      - Token token=api_sandbox.VfzFDCaYox9.rTHqR4jClR6-IHzdAQQUML5bd7PlNZ_Q
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - bb919765-6cd1-4b5e-9def-ce6073b5adf7
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - A5KBaE6pDoEFXvw=
      Etag:
      - W/"f465bcb13df3e3b95413e7104adf9146"
      X-Amzn-Remapped-Date:
      - Sat, 25 Feb 2023 11:26:39 GMT
    body:
      encoding: UTF-8
      string: '{"id":"ba5fe93a-22ac-4b8f-9824-f08030c81364","created_at":"2023-02-25T11:26:39Z","sandbox":true,"first_name":"Jane","last_name":"Doe","email":"test@example.com","dob":"1990-01-31","delete_at":null,"href":"/v3.1/applicants/ba5fe93a-22ac-4b8f-9824-f08030c81364","address":null,"id_numbers":[]}'
  recorded_at: Sat, 25 Feb 2023 11:26:39 GMT
recorded_with: VCR 6.1.0
