---
http_interactions:
- request:
    method: get
    uri: https://api.eu.onfido.com/v3.1/checks/2533949e-0519-4799-8887-2a3cd22421bd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=api_sandbox.VfzFDCaYox9.rTHqR4jClR6-IHzdAQQUML5bd7PlNZ_Q
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 1c4a6ce0-0dcd-4a8d-b393-c879ee1b02d6
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - A5Kb3Fy3joEFWlQ=
      Etag:
      - W/"8d6f61675ca6317cbb9b171efb73ea52"
      X-Amzn-Remapped-Date:
      - Sat, 25 Feb 2023 11:29:28 GMT
    body:
      encoding: UTF-8
      string: '{"id":"2533949e-0519-4799-8887-2a3cd22421bd","created_at":"2023-02-25T05:36:53Z","status":"complete","redirect_uri":null,"result":"clear","sandbox":true,"tags":[],"results_uri":"https://dashboard.onfido.com/checks/2533949e-0519-4799-8887-2a3cd22421bd","form_uri":null,"paused":false,"version":"3.6","report_ids":["9ea9e7cc-d28a-47c0-9eab-cfe5f1860bb0","21d951ae-1fa6-42a2-9604-07c3e10f0683"],"href":"/v3.1/checks/2533949e-0519-4799-8887-2a3cd22421bd","applicant_id":"f1affaa2-61e4-4be7-bc1f-da0487f67876","applicant_provides_data":false,"webhook_ids":null,"privacy_notices_read_consent_given":null}'
  recorded_at: Sat, 25 Feb 2023 11:29:28 GMT
- request:
    method: get
    uri: https://api.eu.onfido.com/v3.1/checks/2533949e-0519-4799-8887-2a3cd22421bd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=api_sandbox.VfzFDCaYox9.rTHqR4jClR6-IHzdAQQUML5bd7PlNZ_Q
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 7480817b-40cd-420d-8fc4-9c11af2be997
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - A5Kb8HLNjoEFoKA=
      Etag:
      - W/"8d6f61675ca6317cbb9b171efb73ea52"
      X-Amzn-Remapped-Date:
      - Sat, 25 Feb 2023 11:29:29 GMT
    body:
      encoding: UTF-8
      string: '{"id":"2533949e-0519-4799-8887-2a3cd22421bd","created_at":"2023-02-25T05:36:53Z","status":"complete","redirect_uri":null,"result":"clear","sandbox":true,"tags":[],"results_uri":"https://dashboard.onfido.com/checks/2533949e-0519-4799-8887-2a3cd22421bd","form_uri":null,"paused":false,"version":"3.6","report_ids":["9ea9e7cc-d28a-47c0-9eab-cfe5f1860bb0","21d951ae-1fa6-42a2-9604-07c3e10f0683"],"href":"/v3.1/checks/2533949e-0519-4799-8887-2a3cd22421bd","applicant_id":"f1affaa2-61e4-4be7-bc1f-da0487f67876","applicant_provides_data":false,"webhook_ids":null,"privacy_notices_read_consent_given":null}'
  recorded_at: Sat, 25 Feb 2023 11:29:29 GMT
recorded_with: VCR 6.1.0
